/* Kolory */
$green: #008b89;
$grey: #686868;
$yellow: #e6db05;
$light-grey: #d9dada;
$light-green: #6cb9b8;
$red: #ff7476;
$dark-green: #003f3e;

$xs: "only screen and (max-width : 575px)";
$sm: "only screen and (min-width : 576px)";
$md: "only screen and (min-width : 768px)";
$lg: "only screen and (min-width : 992px)";
$xl: "only screen and (min-width : 1200px)";

$gentleAnimation: cubic-bezier(0.68, -0.55, 0.265, 1.30);