@charset "UTF-8";
@import "variables";
@import "lib/bootstrap";
@import "lib/font-awesome";
@import "swipebox";

@media only screen and (max-width: 991px) {
  .subpage-header {
    display: flex;
    align-self: center;
  }
}

@media #{$xs} {
  .student-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .background2 {
    margin-top: -980px;
    padding-top: 980px;
  }
}

@media #{$sm} {
  .background2 {
    margin-top: -980px;
    padding-top: 900px;
  }
  #photo {
    padding: 0 65px;
  }
}

@media #{$md} {
  .colRight {
    order: -1;
  }
  .background2 {
    margin-top: -1000px;
    padding-top: 850px;
  }
}

@media #{$lg} {
  .container {
    padding: 0 65px;
  }
  .background2 {
    margin-top: -1000px;
    padding-top: 810px;
  }
}

@media #{$xl} {
  .background2 {
    margin-top: -950px;
    padding-top: 805px;
  }
  .rwd-break {
    display: none;
  }
}

@media only screen and (min-width: 1770px) {
  .background2 {
    padding-top: 650px;
  }
}

h1,
h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  z-index: 2;
}

#ampersand {
  font-size: 60px;
  color: $green;
  @media #{$xs} {
    font-size: 40px;
  }
}

#welcome {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.colLeft,
.colRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.colLeft {
  @media #{$md} {
    padding-left: 40px;
  }
}

.colRight {
  @media #{$md} {
    padding-right: 40px;
  }
}

.ssa-img {
  position: relative;
  z-index: 0;
}

.enroll {
  position: relative;
  z-index: 0;
  padding-left: 15px;
  margin-left: 15px;
  padding-right: 60px;
  white-space: nowrap;
  color: $green;
  text-align: center;
  display: inline-block;
  width: 169px;
  transition: width 1s cubic-bezier(0.75, -0.50, 0.25, 1.50);

  &:hover {
    width: 250px;
    transition: width 1s cubic-bezier(0.75, -0.50, 0.25, 1.50);
  }

  @media #{$lg} {
    width: 220px;
  }

  &::before {
    content: "";
    top: 50%;
    left: 0;
    transform: skew(0, -27.694deg) translateY(-66%);
    height: 250px;
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
    background-color: $yellow;

    @media #{$sm} {
      width: 100%;
    }
  }
}

.course {
  width: 200px;
  float: right;
  font-weight: 700;
  padding: 20px;
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    top: 50%;
    left: 0;
    transform: skew(0, -27.694deg) translateY(-50%);
    height: 260px;
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
    background-color: $yellow;
  }
}

.logo-mid {
  margin-bottom: 50px;
}

#zero-margin {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .ssa-img {
    margin-top: 100px;
  }
  .logo-mid {
    margin-bottom: 0;
  }
}

.ssa {
  margin-left: auto;
  margin-bottom: 100px;
  position: relative;
  font-weight: 700;
  padding: 20px;
  z-index: 0;
  width: 140px;

  &::before {
    content: "";
    top: 50%;
    left: 0;
    transform: skew(0, -27.694deg) translateY(-50%);
    height: 260px;
    position: absolute;
    display: block;
    width: 100%;
    z-index: -1;
    background-color: $green;
  }
}

.materials {
  position: relative;
  z-index: -1;
  padding: 20px;
  width: 400px;
  color: white;
  margin: 20% auto 31%;
  h4 {
    color: white;
  }
  &::before {
    content: "";
    top: 50%;
    left: 0;
    transform: skew(0, -27.694deg) translateY(-50%);
    position: absolute;
    display: block;
    width: 100%;
    height: 135%;
    z-index: -1;
    background-color: $green;
  }
}

materials materials-content {
  display: block;
}

body {
  background: url("../img/tlo.png") center top no-repeat;
  background-size: cover;
  @media #{$md} {
    background-size: auto;
  }
}

p {
  position: relative;
  line-height: 30px;
  z-index: 3;
}

#bg2 {
  padding-bottom: 150px;
  @media #{$md} {
    background: url("../img/tlo2.png") left bottom no-repeat;
  }
  @media #{$xs} {
    padding-bottom: 0;
  }
}

.more {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: $green;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.contact {
  margin-bottom: 0;
}

.s1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.s2 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#year {
  font-size: 15px;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: -12px;
}

.social-media i {
  color: $green;
  padding: 0 10px;
}

h1 {
  margin-top: 14px;
  color: $green;
  font-size: 40px;
  font-weight: bolder;
}

h4 {
  color: $green;
}

.subpage-header-title {
  margin-bottom: 48px;
}

.header-title {
  text-transform: uppercase;
}

.zone {
  justify-content: center;
}

.student-zone a {
  color: black;
}

.subpage-title {
  margin-top: 15px;
  @media #{$md} {
    margin-top: 25px;
  }
  font-weight: 700;
}

.mid-header {
  font-weight: 700;
}

.img-padding {
  padding: 0;
  overflow: hidden;
  filter: brightness(100%);
  transition: filter 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  &:hover {
    transition: filter .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    filter: brightness(120%);
  }
  .img-fluid {
    max-width: 100%;

    @media #{$md} {
      max-width: none;
    }
    @media #{$xl} {
      max-width: 100%;
    }
  }
}

.img-fluid {
  width: 100%;
}

.student-zone a:hover {
  color: $grey;
}

.student-zone span:nth-child(2) {
  font-weight: 300;
}

.about-us {
  background: url("../img/pattern.jpg");
  //margin-top: 150px;
}

#names {
  display: inline-flex;
  font-family: 'Pacifico', cursive;
  font-size: 24px;

  @media #{$xs} {
    font-size: 22px;
  }
  @media only screen and (max-width: 355px) {
    font-size: 19px;
  }
  margin-bottom: -20px;
  position: relative;
  z-index: 2;
}

#come-over {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  float: right;
}

#filip {
  display: inline;
}

#agnieszka {
  transform: translateY(50%);
}

.background {
  position: relative;
  z-index: 0;
}

.background::after {
  background: url("../img/pattern.jpg");
  content: "";
  top: 1140px;
  width: 100%;
  left: 0;
  position: absolute;
  height: 300px;
  z-index: -1;
}

.background2 {
  background: url("../img/tlo3-gora.png") no-repeat;
  position: relative;
  z-index: 1;
}

.background2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 264px);
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-repeat: repeat-y;
  background-image: url("../img/tlo3-dol.png");
}

.pic {
  position: relative;
  z-index: 0;
}

.mid-content {
  margin-top: 96px;
  margin-bottom: 48px;
}

@media only screen and (max-width: 767px) {
  .subpage-description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mid-content {
    margin-top: 16px;
    margin-bottom: 0px;
  }
}

a:hover {
  text-decoration: none;
  color: $dark-green;
  transition: color .5s $gentleAnimation;
}

nav ul {
  @media #{$md} {
    padding: 6px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    font-size: 15px;
    width: 100%;
  }
}

li a {
  display: block;
}

nav li {
  @media only screen and (max-width: 767px) {
    border-bottom: 1px solid $grey;
    border-top: 1px solid transparent;

    &:first-child {
      border-color: $grey;
    }
    a {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  margin: 0 15px;
  list-style: none;
  display: inline;
  text-transform: uppercase;
  a {
    text-decoration: none;
    font-weight: 500;
    color: $grey;
    width: 100%;
    display: inline-block;
    @media #{$md} {
      padding: 5px;
    }
    &:hover {
      color: black;
    }
  }
}

#bottom-ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  li a {
    color: black;
    &:hover {
      color: $grey;
    }
  }
}

.center {
  display: block;
  width: auto;
  margin: auto;
}

#offer {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

h1,
nav ul {
  text-align: center;
}

.currentpage {
  color: black;
}

.icon {
  display: flex;
  align-content: center;
}

.sth {
  display: flex;
  align-items: center;
}

a {
  color: $green;
  transition: color .25s $gentleAnimation;
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

#photo {
  display: flex;
}

#photo-flex {
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media #{$sm} {
  .no-padding {
    padding: 0;
  }
}

.ssa-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0 0;
  align-items: center;
  @media #{$md} {
    padding: 40px 0;
  }
}

.ssa-footer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.subpage-description p {
  @media #{$lg} {
    line-height: 35px;
  }
}

.footer-subpage-description {
  line-height: 32px;
}

.footer-subpage {
  h3 {
    font-weight: 600;
  }
}

@font-face {
  font-family: 'espregular';
  src: url("../fonts/esp.eot");
  src: url("../fonts/esp.eot?#iefix") format("embedded-opentype"), url("../fonts/esp.woff2") format("woff2"), url("../fonts/esp.woff") format("woff"), url("../fonts/esp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.webiso {
  font-size: 18px;
  color: #848484;
  text-decoration: none;
  float: right;
}

#wf {
  text-align: right;
  margin-bottom: 0;
  font-size: 12px;
}

.webiso span {
  font-size: 18px !important;
  font-family: "espregular";
  position: relative;
  top: 3px;
}

.webiso span:first-child {
  color: #b7b7b7;
}

.webiso span:last-child {
  color: #b7b7b7;
}

.webiso:hover span:first-child {
  color: #2F80B2;
}

.webiso:hover span:last-child {
  color: #53A834;
}

.gallery {
  margin: -10px;
}

.studio-gallery {
  margin-top: 30px;
  padding: 0;
}

.gallery .images {
  display: flex;
  flex-wrap: wrap;
  .img {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    &:hover {
      opacity: 0.85;
    }
    @media #{$sm} {
      width: 50%;
    }
    img {
      max-width: 100%;
      display: block;
      padding: 10px;
    }
    .desc {
      display: inline-block;
      color: $green;
      font-weight: 600;
      font-size: 30px;
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      text-shadow: 1px 1px 2px black;
      top: 50%;
    }
  }
  .dir {
    position: relative;
    i {
      font-size: 32px;
      color: $green;
      text-shadow: 1px 1px 2px black;
    }
    .overlay {
      position: absolute;
      width: auto;
      background: rgba($grey, .8);
      height: auto;
      top: 10px;
      bottom: 10px;
      right: 10px;
      left: 10px;
    }
  }
}

.studio-gallery .gallery .images .img {
  @media #{$sm} {
    width: 25%;
  }
}

//Subpages

.wider {
  @media #{$sm} {
    width: 1300px;
    padding: 0 15px;
  }
}

//Studio

.studio {
  display: inline-block;
  float: right;
  margin-left: 5px;
}

// Prices

#terms {
  @media #{$sm} {
    margin: 0 10% 40px;
  }
  @media #{$lg} {
    padding: 0 75px;
  }
}

td {
  &:nth-child(even) {
    background-color: $light-grey
  }
  &:nth-child(odd) {
    background-color: #ebecec;
  }
  &:first-child {
    background-color: $yellow;
    width: 30%;
  }
  padding: 15px 0;
  text-align: center;
  justify-content: center;
}

table {
  width: 100%;
  font-size: 14px;
  border-collapse: inherit;
}

th {
  color: white;
  &:nth-child(even) {
    background-color: $green;
  }
  &:nth-child(odd) {
    background-color: $light-green;
  }
  &:first-child {
    text-align: center;
  }
  padding: 5px;
  line-height: 1em;
}

.price-icon {
  float: left;
  margin-right: 10px;
}

h2 {
  color: $green;
}

//Contact

.phone-number {
  font-size: 2em;
  color: $green;
}

#webisoContact {

  width: 100%;
  .form-input {
    position: relative;

    input, textarea {
      border: none;
      background-color: $yellow;
      display: block;
      width: 100%;
      padding: 15px;
      font-size: 20px;
      outline: none;
      box-shadow: none;
    }
  }

  .form-input input {
    height: auto;
  }

  .form-col {
    display: flex;
    flex-flow: column;

    & > * {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form-input textarea {
    height: 155px;
    resize: vertical;
  }

  .notempty {
    &, & + label {
      color: $green;
    }
  }

  .notempty.fail {
    &, & + label {
      content: ' ';
      color: $red !important;
    }
  }

  .notempty.warn {
    color: #555 !important;

    & + label {
      content: ' ';
      color: #b7995d !important;
    }
  }

  .check .notempty {
    & + label::after {
      content: '✓';
      display: inline-block;
      margin-left: 5px;
      font-size: 11px;
      line-height: inherit;
    }
  }

  #formSubmit {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 600;
    float: right;
    margin-top: 35px;
    @extend .more;
    margin-bottom: 25px;
  }

}

.get-down {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}

iframe {
  height: 300px;
  width: 100%;
  filter: grayscale(1);
  transition: filter 3s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    filter: grayscale(0);
    transition: filter 1s $gentleAnimation;
  }
}

// Gallery

.gallery-p {
  float: left;
  margin-left: 15px;
  color: black;
  font-size: 20px;
}

#main-gallery {
  @media #{$lg} {
    :nth-child(3n+3):not(p) {
      top: 50px;
    }

    :nth-child(3n+2):not(p) {
      top: 100px;
    }
  }
  padding: 0 15px 100px;
}

.back-btn {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  border: none;
  margin-top: 10px;
}

.navbar {
  width: 100%;
  padding: 0;
  @media #{$md} {
    margin-bottom: 25px;
  }
}

.navbar-nav {
  justify-content: center;
}

.navbar-toggler {
  align-self: flex-end;
}

.fa-bars {
  color: $grey;
}

.logo-mobile {
  @media #{$xs} {
    text-align: center;
  }
}

// Kursy
#courses li {
  display: inline-flex;
  list-style-type: none;
  &:not(.active) {
    filter: grayscale(1);
    transition: filter 1s $gentleAnimation;

    &:hover {
      filter: grayscale(0);
      transition: filter 1s $gentleAnimation;
    }
  }
}

